@import "tailwindcss";


:root {
  --background: #150101;
  --foreground: #ededed;
  --surface: rgba(20, 8, 8, 0.1);
  --surface-hover: rgba(20, 8, 8, 0.6);
  --surface2: rgba(15, 6, 6, 0.1);

  --text-primary: #fff4f4;
  --text-secondary: #d7baba;
  --text-muted: #9f7f7f;

  --accent: #ff4444;
  --accent-soft: #ff6666;

  --border: rgba(255, 68, 68, 0.1);
  --border-strong: rgba(255, 68, 68, 0.2);
}
html {
  scroll-behavior: smooth;
}

body {
  /* background:
  radial-gradient(
    circle at top right,
    rgba(255,68,68,.08),
    transparent 40%
  ),
  linear-gradient(#0A0505,#110707); */
  background-color: #150101;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  color: var(--foreground);
}

/* Static glow layer */
.meow {
  position: absolute;
  inset: 0;
  z-index: -20;
  pointer-events: none;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 60, 60, 0.08),
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 25%,
      rgba(255, 50, 50, 0.06),
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 40, 40, 0.04),
      transparent 70%
    ),
    radial-gradient(
      circle at 30% 80%,
      rgba(255, 70, 70, 0.06),
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 90%,
      rgba(255, 50, 50, 0.05),
      transparent 50%
    ),
    linear-gradient(
      180deg,
      #120808 0%,
      #180b0b 50%,
      #120808 100%
    );

  /* filter: blur(80px); */
}
